<form class="needs-validation" novalidate>
  <div class="form-row">
    <div class="col-md-3 mb-3">
      <label for="validationCustom01">Numéro du bon</label>
      <input
        type="text"
        class="form-control"
        id="validationCustom01"
        value="Mark"
        required
      />
      <div class="valid-feedback">
        Looks good!
      </div>
    </div>
    <div class="col-md-3 mb-3">
      <label for="validationCustom02">Donneur d'ordre</label>
      <input
        type="text"
        class="form-control "
        id="validationCustom02"
        value="Otto"
        required
        style="height: 40px;"
      />
      <div class="valid-feedback">
        Looks good!
      </div>
    </div>

    <div class="col-md-6 mb-3">
      <label for="validationCustomUsername">Date d'enlevement souhaitée</label>
      <div class="input-group">
        <mat-form-field appearance="outline">
          <input matInput type="datetime-local" placeholder="start date" />
        </mat-form-field>
        <div class="invalid-feedback">
          Please choose a username.
        </div>
      </div>
    </div>
  </div>

  <div class="custom">
    <div class="form-row">
      <div class="col-md-3 mb-3">
        <label for="validationCustom01">Expéditeur</label>
        <input
          type="text"
          class="form-control"
          id="validationCustom01"
          value="Mark"
          required
        />
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>
      <div class="col-md-3 mb-3">
        <label for="validationCustom02">Adresse expéditeur 1</label>
        <input
          type="text"
          class="form-control"
          id="validationCustom02"
          value="Otto"
          required
        />
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>

      <div class="col-md-3 mb-3">
        <label for="validationCustomUsername">Adresse expéditeur 2</label>
        <div class="input-group">
          <input
            type="text"
            class="form-control"
            id="validationCustomUsername"
            aria-describedby="inputGroupPrepend"
            required
          />
          <div class="invalid-feedback">
            Please choose a username.
          </div>
        </div>
      </div>

      <div class="col-md-3 mb-3">
        <label for="validationCustomUsername">Adresse expéditeur 3</label>
        <div class="input-group">
          <input
            type="text"
            class="form-control"
            id="validationCustomUsername"
            aria-describedby="inputGroupPrepend"
            required
          />
          <div class="invalid-feedback">
            Please choose a username.
          </div>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-2 mb-3">
        <label for="validationCustom01">Dept</label>
        <input
          type="text"
          class="form-control"
          id="validationCustom01"
          value="Mark"
          required
        />
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>
      <div class="col-md-2 mb-3">
        <label for="validationCustom02">Ville</label>
        <input
          type="text"
          class="form-control"
          id="validationCustom02"
          value="Otto"
          required
        />
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>

      <div class="col-md-2 mb-3">
        <label for="validationCustomUsername">Pays</label>
        <div class="input-group">
          <input
            type="text"
            class="form-control"
            id="validationCustomUsername"
            aria-describedby="inputGroupPrepend"
            required
          />
          <div class="invalid-feedback">
            Please choose a username.
          </div>
        </div>
      </div>

      <div class="col-md-2 mb-3">
        <label for="validationCustomUsername">CP</label>
        <div class="input-group">
          <input
            type="text"
            class="form-control"
            id="validationCustomUsername"
            aria-describedby="inputGroupPrepend"
            required
          />
          <div class="invalid-feedback">
            Please choose a username.
          </div>
        </div>
      </div>

      <div class="col-md-2 mb-3">
        <label for="validationCustomUsername">Tel</label>
        <div class="input-group">
          <input
            type="text"
            class="form-control"
            id="validationCustomUsername"
            aria-describedby="inputGroupPrepend"
            required
          />
          <div class="invalid-feedback">
            Please choose a username.
          </div>
        </div>
      </div>

      <div class="col-md-2 mb-3">
        <label for="validationCustomUsername">Email</label>
        <div class="input-group">
          <input
            type="text"
            class="form-control"
            id="validationCustomUsername"
            aria-describedby="inputGroupPrepend"
            required
          />
          <div class="invalid-feedback">
            Please choose a username.
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="custom2">
    <div class="form-row">
      <div class="col-md-3 mb-3">
        <label for="validationCustom04">Destinataire</label>
        <select class="custom-select" id="validationCustom04" required>
          <option selected disabled value="">Choose...</option>
          <option>option1</option>
          <option>option2</option>
          <option>option3</option>
        </select>
        <div class="invalid-feedback">
          Please select a valid state.
        </div>
      </div>
      <div class="col-md-3 mb-3">
        <label for="validationCustom02">Adresse destinataire 1</label>
        <input
          type="text"
          class="form-control"
          id="validationCustom02"
          value="Otto"
          required
        />
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>

      <div class="col-md-3 mb-3">
        <label for="validationCustomUsername">Adresse destinataire 2</label>
        <div class="input-group">
          <input
            type="text"
            class="form-control"
            id="validationCustomUsername"
            aria-describedby="inputGroupPrepend"
            required
          />
          <div class="invalid-feedback">
            Please choose a username.
          </div>
        </div>
      </div>

      <div class="col-md-3 mb-3">
        <label for="validationCustomUsername">Adresse destinataire 3</label>
        <div class="input-group">
          <input
            type="text"
            class="form-control"
            id="validationCustomUsername"
            aria-describedby="inputGroupPrepend"
            required
          />
          <div class="invalid-feedback">
            Please choose a username.
          </div>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-2 mb-3">
        <label for="validationCustom01">Dept</label>
        <input
          type="text"
          class="form-control"
          id="validationCustom01"
          value="Mark"
          required
        />
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>
      <div class="col-md-2 mb-3">
        <label for="validationCustom02">Ville</label>
        <input
          type="text"
          class="form-control"
          id="validationCustom02"
          value="Otto"
          required
        />
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>

      <div class="col-md-2 mb-3">
        <label for="validationCustomUsername">Pays</label>
        <div class="input-group">
          <input
            type="text"
            class="form-control"
            id="validationCustomUsername"
            aria-describedby="inputGroupPrepend"
            required
          />
          <div class="invalid-feedback">
            Please choose a username.
          </div>
        </div>
      </div>

      <div class="col-md-2 mb-3">
        <label for="validationCustomUsername">CP</label>
        <div class="input-group">
          <input
            type="text"
            class="form-control"
            id="validationCustomUsername"
            aria-describedby="inputGroupPrepend"
            required
          />
          <div class="invalid-feedback">
            Please choose a username.
          </div>
        </div>
      </div>

      <div class="col-md-2 mb-3">
        <label for="validationCustomUsername">Tel</label>
        <div class="input-group">
          <input
            type="text"
            class="form-control"
            id="validationCustomUsername"
            aria-describedby="inputGroupPrepend"
            required
          />
          <div class="invalid-feedback">
            Please choose a username.
          </div>
        </div>
      </div>

      <div class="col-md-2 mb-3">
        <label for="validationCustomUsername">Email</label>
        <div class="input-group">
          <div class="input-group-prepend">
            >
          </div>
          <input
            type="text"
            class="form-control"
            id="validationCustomUsername"
            aria-describedby="inputGroupPrepend"
            required
          />
          <div class="invalid-feedback">
            Please choose a username.
          </div>
        </div>
      </div>
    </div>
  </div>

  <button class="btn btn-primary" type="submit" style="margin-top: 2%;">
    Annuler
  </button>
</form>
