<div class="container-fluid custom" style="z-index: 999;">
  <div class="row mt-5" data-aos="fade-left">
    <div class="col">
      <div class="card text-center shadow myelement">
        <div class="card-header customHeader">
          Liste des Tiers
        </div>
        <div class="card-body">
          <h5 class="card-title">Listes des Tier</h5>
          <app-liste-bons-table></app-liste-bons-table>
        </div>
        <div class="card-footer text-muted">
          2 days ago
        </div>
      </div>
    </div>
  </div>
  <div class="row"></div>
</div>
