<form>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail4">Nom client complet</label>
      <input type="email" class="form-control" id="inputEmail4" />
    </div>
    <div class="form-group col-md-6">
      <label for="inputEmail4">Nom client abrégé</label>
      <input type="email" class="form-control" id="inputEmail4" />
    </div>
  </div>
  <div class="form-group">
    <label for="inputAddress">Adresse</label>
    <input
      type="text"
      class="form-control"
      id="inputAddress"
      placeholder="1234 Main St"
    />
  </div>
  <div class="form-group">
    <label for="inputAddress2">Adresse 2</label>
    <input
      type="text"
      class="form-control"
      id="inputAddress2"
      placeholder="Apartment, studio, or floor"
    />
  </div>
  <div class="form-group">
    <label for="inputAddress2">Adresse 3</label>
    <input
      type="text"
      class="form-control"
      id="inputAddress2"
      placeholder="Apartment, studio, or floor"
    />
  </div>
  <div class="form-row">
    <div class="form-group col-md-3">
      <label for="inputCity">Département</label>
      <input type="text" class="form-control" id="inputCity" />
    </div>
    <div class="form-group col-md-3">
      <label for="inputCity">Ville</label>
      <input type="text" class="form-control" id="inputCity" />
    </div>
    <div class="form-group col-md-3">
      <label for="inputState">Pays</label>
      <select id="inputState" class="form-control">
        <option selected>Choose...</option>
        <option>...</option>
      </select>
    </div>
    <div class="form-group col-md-3">
      <label for="inputZip">Zip</label>
      <input type="text" class="form-control" id="inputZip" />
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail4">Tel</label>
      <input type="email" class="form-control" id="inputEmail4" />
    </div>
    <div class="form-group col-md-6">
      <label for="inputEmail4">Mail</label>
      <input type="email" class="form-control" id="inputEmail4" />
    </div>
  </div>
</form>
