<div class="container-fluid custom">
  <div class="row" data-aos="fade-left">
    <div class="col">
      <div class="card text-center shadow myelement">
        <div class="card-header customHeader">
          Demande d'enlèvement
        </div>
        <div class="card-body">
          <h5 class="card-title">Demande d'enlèvement</h5>
          <app-demande-enlv-form></app-demande-enlv-form>
        </div>
        <div class="card-footer text-muted">
          2 days ago
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-5" data-aos="fade-left">
    <div class="col">
      <div class="card text-center shadow myelement">
        <div class="card-header customHeader">
          Colisage Estimatif
        </div>
        <div class="card-body">
          <h5 class="card-title">Colisage</h5>
          <app-colisage-form></app-colisage-form>
        </div>
        <div class="card-footer text-muted">
          2 days ago
        </div>
      </div>
    </div>
  </div>
</div>
